Support for a specific use case such as RFC3686

How is NIST planning to address implementations that only support a specific use case such as RFC3686?

What in the current implementation would cause an issue here?

This is more a question for the CAVP rather than this project, but in the past we have added "conformances" to an algorithm test when a client wishes to test an ACVP algorithm and adhere to an additional standard on top of the NIST standard for that algorithm. See ECMA conformance for AES-CCM. This allows the server to build specific test cases with properties it might not otherwise allow, with the trade-off that a client must specifically request such a test. 

Current crypto module that I'm working with only has an implementation of rfc3686(ctr(aes)), however, ACVP test vector is only available for ctr(aes). I was wondering how to get a test vector for specific cases such as rfc3686(ctr(aes)) from NIST server.  

I'm not familiar with ECMA conformance.. Is there a link that you can provide?

Please send me an email so we can discuss some details here. christopher.celi (at) nist.gov

The Linux kernel rfc3868() template is not to be tested. All it provides is a special interpretation of the input data, i.e. where and how it finds the IV/CTR or the key. Thus, you can safely ignore this template and only test ctr(aes).

Hi smueller, 
we are using a 3rd party vendor module and unfortunately, they only supports rfc3686 compliant aes-ctr. That's why I was asking for test vector for specific case.  

Then what about formatting the provided data as needed by the template? IIRC the key and/or counter needs to be split or merged to feed it to the template. For example, that is also to be done when testing the rfc4106 template.

Ciao
Stephan

—
Cui bono?

> Am 12.11.2020 um 16:56 schrieb ykalensc <notifications@github.com>:
> 
> ﻿
> Hi smueller,
> we are using a 3rd party vendor module and unfortunately, they only supports rfc3686 compliant aes-ctr. That's why I was asking for test vector for specific case.
> 
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub, or unsubscribe.


If I understand RFC3686 correctly, there are 2 parts that would need modification.
1. RFC3686 counter block is formed with Nonce(32bits) + IV(64bits) + ONE(32bits). 
However, CTR(AES) test vector doesn't guarantee the counter blocks with ONE at the end of 32 bits, and I don't think we can format this portion (this will change the expected result as well).
2. RFC3686 expects Nonce(32bits) + Key.. and we can format the keying material combined with nonce.

Because of the option 1, formatting the ctr(aes) test vector doesn't seem to be an option for us. 
If NIST can provide a CTR(AES) test vector json that only contains counter blocks with ONE at the end of 32 bits, we could run RFC3686 against ACVP server. 

Any thoughts? 

Any updates on this issue? 

We are finally allocating resources, but it may be multiple weeks before I can provide another update. 

Am Montag, den 23.11.2020, 08:23 -0800 schrieb Chris Celi:
> We are finally allocating resources, but it may be multiple weeks before I
> can provide another update. 
> 

Chris, all you need to do is to allow users to specify a start value of the
counter.

For RFC3686, a 128 bit counter value that starts with 1 is all that is needed.
The rest that is special to RFC3686 can be handled during invocation of the
cipher.

Ciao
Stephan



I appreciate the heads up. I'd like to spend some time with the RFC to ensure our current tests are all applicable, but if the nonce has a set size (or options), there is more we can do in our current tests to get better assurances out. Is there a timeline for when this is needed? For a particular upcoming validation?

We would need this as soon as possible. Upcoming validation will be early next year, and I would need to run the full informal tests before to make sure everything is good. 
Again, I really appreciate your effort and understanding. 

What you see is a general issue when ciphers are used for network protocols: the IV may have a special structure. RFC3686 is a special structure for CTR used with IPSEC. Another is RFC4106 for GCM in IPSEC, or RFC4309 for CCM/IPSEC, or CCMP for CCM/WLAN.

Once the IV is set, the cipher operates as usual.

The specs slice the IV up into several parts since they originate from different sources and call these parts in different ways. But the naming is irrelevant for testing the actual cipher. E.g. RFC3686 mentions a nonce that are the 32 MSB of the counter originating from the IKE DH/KDF. The middle 64 bits are the sequence number and the trailing 32LSB are set to 1. Yet, the CTR mode works normally on this IV. The others wir similarly.

Thus allow freedom of specifying the start value of the counter.

Ciao
Stephan

—
Cui bono?

> Am 23.11.2020 um 17:33 schrieb Chris Celi <notifications@github.com>:
> 
> ﻿
> I appreciate the heads up. I'd like to spend some time with the RFC to ensure our current tests are all applicable, but if the nonce has a set size (or options), there is more we can do in our current tests to get better assurances out. Is there a timeline for when this is needed? For a particular upcoming validation?
> 
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub, or unsubscribe.


Or allow the user to return the used IV?!

Ciao
Stephan

—
Cui bono?

> Am 23.11.2020 um 17:28 schrieb Stephan Mueller <smueller@chronox.de>:
> 
> ﻿Am Montag, den 23.11.2020, 08:23 -0800 schrieb Chris Celi:
>> We are finally allocating resources, but it may be multiple weeks before I
>> can provide another update. 
>> 
> 
> Chris, all you need to do is to allow users to specify a start value of the
> counter.
> 
> For RFC3686, a 128 bit counter value that starts with 1 is all that is needed.
> The rest that is special to RFC3686 can be handled during invocation of the
> cipher.
> 
> Ciao
> Stephan


We could very easily produce our "IV"s for the test vectors under RFC3686 end with "00000001", though I'm wondering as implementers of the algorithm if you would want (or need) the individual "pieces" that make up (the entirety of) the IV (at least in the traditional sense to say CBC) to be explicit in the prompt files:

"all in one" (delimiting "pieces" with "||":
```
{
  "iv": "11111111||2222222222222222||00000001"
}
```

"individual pieces":

```
{
  "nonce": "11111111",
  "iv": "2222222222222222"
  "blockCounter": "00000001"
}
```

-----

the normal KATs that get run alongside other modes of operation under AES would *seemingly* not be "useable" when operating under a RFC3686 conformance, so that would likely require a tested ECB mode to go along with a validated CTR mode using the conformance (or some other mode of AES that does test against the KATs).

-----

The RFC goes into a (what I take as an *example*) means of arriving at a nonce value, by generating keying material 4 octets larger than that which is required by the key size for the AES engine.  Since the ACVP server is expected to be the one generating values, it is expected that the IUT will be able to utilize payloads, keys, IVs, and nonces provided to it, regardless of what originally generated them.  This will also allow the current AES-CTR testing to mostly be "left as is", with some potential variance on fields included in the prompt file depending on the feedback in the first section of this response.

-----

The RFC does specify the block counter starts at 1, and is only incremented;  therefore the "subtractive" counter option of the non RFC conformance AES-CTR testing shall not apply to this new testing.

-----

I think that's all the questions/comments I had for the moment.  Let me know your thoughts!

Am Freitag, den 04.12.2020, 07:24 -0800 schrieb Russ Hammett:
> We could very easily produce our "IV"s for the test vectors under RFC3686
> end with "00000001", though I'm wondering as implementers of the algorithm
> if you would want (or need) the individual "pieces" that make up (the
> entirety of) the IV (at least in the traditional sense to say CBC) to be
> explicit in the prompt files:
> 
IMHO this is a stop-gap for RFC3868 only. IMHO it is better to allow the
*user* to generate an IV and return it to the server - just like we do for GCM
with internal IV. This would cover also other scenarios like CCMP.




We can probably do that, but my question:

> if you would want (or need) the individual "pieces" that make up (the entirety of) the IV (at least in the traditional sense to say CBC) to be explicit in the prompt files:
> 
> "all in one" (delimiting "pieces" with "||":
> 
> ```
> {
>   "iv": "11111111||2222222222222222||00000001"
> }
> ```
> 
> "individual pieces":
> 
> ```
> {
>   "nonce": "11111111",
>   "iv": "2222222222222222"
>   "blockCounter": "00000001"
> }
> ```

still seems valid, as now we would need to be both taking in these values (in cases of an "encrypt" group), or sending the values to the IUT in the prompt file (for a "decrypt" group)

As of now, all the test vectors are provided as "all in one" format.. so it's probably easier for me to work with "all in one". However, it doesn't really matter which way it is.. as long as the correct test vector is provided, I can work with it.

This change is on demo in [v1.1.0.15](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.15)

@ykalensc are you able to test against this new algorithm on demo?