ACVP Testing of approved X25519MLKEM768

Now that X25519MLKEM768 is approved by [SP 800-227](https://csrc.nist.gov/pubs/sp/800/227/final) it would be useful to add X25519MLKEM768 ACVP testing.

Will X25519MLKEM768 be added to ACVP?

Possibly related to https://github.com/usnistgov/ACVP/issues/1486 by @jvdsn 

This is more pressing as all FIPS implementations released in all languages/ecosystems enable X25519MLKEM768 by default in FIPS mode (golang, java 25, openssl 3.5, boringcrypto, aws-lc, apple crypto and more).

For all new submissions, it will likely be the default in practice KEM, thus yes, it is quite critical to support ACVP testing of this. If funding is required, please let me know and I can start fundraiser for this and any other things that are needed to get there.

[Draft IG D.S - Key Encapsulation Mechanisms\[Oct 14 25\].pdf](https://github.com/user-attachments/files/23283418/Draft.IG.D.S.-.Key.Encapsulation.Mechanisms.Oct.14.25.pdf)

Was posted on CMUF forum for comments.

Maybe there is conflicting interpretation, or further caveats needed.

The industry is deploying TLS Hybrid KEM, and that's the only context here. The preferred hybrid is based on X25519MLKEM768. The MLKEM secret is first. Majority of FIPS vendors keep TLS outside of the module boundary, but portions of TLS cryptography inside the module boundary. It is widely believed that SP 800-227 approves it given that it mentions and uses X25519 as an example multiple times, and uses and references well designed protocols that use concatenation. Many cryptographic modules have implemented TLS specific X25519MLKEM768 service and are in the queue. I do not know for sure, but it seems they all claim it as allowed service with MLKEM security claim. It is used as part of TLS only, and thus it is used as interim value, which later is fed into TLS KDF - the values are passed to/from the boundary multiple times. Similar to TLS KDF testing available in ACVP it would be very useful to test this portion of hybrid TLS as well. Please see AWS-LC, BoringCrypto, and OpenSSL modules in the queue, where ACVP certs have ML-KEM, there are at least 6 modules in the queue now that do this. Furthermore, some vendors claim that in progress full submissions with new algorithms are "update stream" in FedRAMP cryptographic modules selection terms. I cannot be sure, but it seems quiche envoy cilium may already use X25519MLKEM768 as approved service for TLS with deployments in production protecting data in transit.

Given our discussion here, I guess I should submit comment to the proposed IG update. It seems the language used in the SP and IG are overly convoluted. Which is leading to divergent interpretation. I did submit memes as comments to proposed updates. Because there is urgent need to simply the guidance. Documents published by IETF and OWASP are much easier to read, understand.

It would be very helpful to have explicit statement about higher level protocols such as "draft TLS Hybrid X25519MLKEM768 is disallowed" or "draft TLS Hybrid x25519mlkem is approved". The language has to be simple enough for LLMs to give correct answers.

Also, why is X25519 and concatenation used extensively as an example throughout IG. D.S. and SP 800-227 - if such combination is not approved?!

@aryeharcher 

> I believe combining ML-KEM with X25519 (etc.) using the TLS 1.3 KDF (which includes the SP 800-56C HKDF) should align with the existing NIST standards.

Yes I would expect it as well. The application of SP 800-227 Section 3.1 is a tad ambiguous. It is unclear if the seed requirements apply to the non-approved components of a hybrid scheme. Logically if you have access to an approved DRBG (or RBG) you should use it. 


A few follow-up notes:

I believe the only 3 registered IANA parameter sets from @dconnolly's link (thanks!) that can be used for TLS 1.3 hybrid key exchange (https://datatracker.ietf.org/doc/draft-ietf-tls-hybrid-design/) are SecP256r1MLKEM768, X25519MLKEM768, SecP384r1MLKEM1024. 

> **Yes I would expect it as well. The application of SP 800-227 Section 3.1 is a tad ambiguous. It is unclear if the seed requirements apply to the non-approved components of a hybrid scheme. Logically if you have access to an approved DRBG (or RBG) you should use it.**

That's fair. I read the Section 3.1 requirements as specific to approved KEMs, but I think X25519MLKEM768 for TLS 1.3 hybrid key exchange is still aligned with this requirement. If I followed correctly, the X25519MLKEM768 group is defined in https://datatracker.ietf.org/doc/draft-ietf-tls-ecdhe-mlkem/, which references https://www.rfc-editor.org/rfc/rfc7748 for X25519 key generation. Then section 6.1 of RFC7748 specifies that Alice and Bob each generate 32 random bytes for X25519 key generation.

I'm also including a link to this issue in the IG D.S comments I'm submitting. The relevant comment requests that the IG include the FIPS conformance status for popular industry hybrids. 