TOTP specification

Jason informed me about the following TOTP implementation details:

- step size: 30 seconds
- digit size: 6 digits

I would assume that HMAC SHA-1 is used for the HOTP algorithm. Can you please confirm that we use HMAC-SHA1?

Now, the issue is the seed value. It seems to be a base64 encoded string. When decoding it with base64 I get a 24 byte binary value that I would use for the TOTP. However, the server rejects the password with 401. Note, my base64 decoder passes all tests from RFC4648 and generates the same output as other base64 decoders.

Jason mentioned that developers on your side indicated that the seed value is a base32 encoded value. However, I would not be sure how to decode that value because base32 as specified in RFC4648 only defines upper case ASCII characters. However, my seed file contains lower case and upper case ASCII characters. When using the base32 implementation from the Linux coreutils package, it says it cannot decode the seed data. Thus, if it is base32, may I ask for a pointer to the specification used for the base32 algorithm?

As a side note, I also tried to use the seed data file straight as a TOTP seed value without any conversion. That returned a 401 error as well.

Thanks

Stephan,

It looks like the developer on our side had picked up the Google authenticator instead of what is specified in the RFC's. See this Wikipedia reference for the specification https://en.wikipedia.org/wiki/Google_Authenticator#Technical_description - I could not find a better reference. We are in the process of deciding weather to keep this implementation or revert back to the RFC. Please let us know what you think and sorry about this. 

Am Freitag, 30. März 2018, 20:41:40 CEST schrieb Apostol Vassilev:

Hi Apostol,

> Stephan,
> 
> It looks like the developer on our side had picked up the Google
> authenticator instead of what is specified in the RFC's. See this Wikipedia
> reference for the specification
> https://en.wikipedia.org/wiki/Google_Authenticator#Technical_description -
> I could not find a better reference. We are in the process of deciding
> weather to keep this implementation or revert back to the RFC. Please let
> us know what you think and sorry about this.

I looked at the implementation provided at https://github.com/google/google-authenticator-android/blob/master/AuthenticatorApp/src/main/java/com/google/
android/apps/authenticator/Base32String.java

That implementation states:

```
/**
 * Encodes arbitrary byte arrays as case-insensitive base-32 strings.
 * <p>
 * The implementation is slightly different than in RFC 4648. During encoding,
 * padding is not added, and during decoding the last incomplete chunk is not
 * taken into account. The result is that multiple strings decode to the same
 * byte array, for example, string of sixteen 7s ("7...7") and seventeen 7s 
both
 * decode to the same byte array.
 * TODO(sarvar): Revisit this encoding and whether this ambiguity needs 
fixing.
```

There is absolutely no rationale given why there is a deviation from the RFC. 
Even, the deviation is not unambiguous as the Google developers state. I 
personally am a great believer in standards and generally object to deviations 
from it.

Furthermore, there is no specification of the algorithm that I can use. I 
would need to reverse engineer their code.

Though, based on the first sentence of the above description, I converted the 
encoded seed string to upper case and base32-decoded it into a 20 byte string. 
However, that decoded string does not seem to be the seed for TOTP as I still 
get a 401.

I am not sure what to do in the short term.

But I see no reason for Google's deviation from the standard. As you honored 
standards so far (and I am grateful for that!), I would like to suggest to 
transition to RFC-conformant baseXX encoding (base32 or base64) in the long 
term.

Ciao
Stephan




@smuellerDD @hbooth I had an email exchange with Harold yesterday after I encountered exactly what you described.  He said "I can work with you on Monday to get you some incremental examples or even better I will work with the developer to find a library that better implements the TOTP and HOTP RFCs."



Python has one that seems to correctly implement TOTP/HOTP per the RFCs
(onetimepass), but, well, it's python.

MP

On Fri, Mar 30, 2018 at 3:09 PM, Barry Fussell <notifications@github.com>
wrote:

> @smuellerDD <https://github.com/smuellerDD> @hbooth
> <https://github.com/hbooth> I had an email exchange with Harold yesterday
> after I encountered exactly what you described. He said "I can work with
> you on Monday to get you some incremental examples or even better I will
> work with the developer to find a library that better implements the TOTP
> and HOTP RFCs."
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/usnistgov/ACVP/issues/297#issuecomment-377611393>, or mute
> the thread
> <https://github.com/notifications/unsubscribe-auth/AA40Kp4PhaJnViAjJ1k4jZsWaV4dVGmhks5tjpECgaJpZM4TB2fN>
> .
>


Am Freitag, 30. März 2018, 22:33:40 CEST schrieb Marcos Portnoi:

Hi Marcos,

> Python has one that seems to correctly implement TOTP/HOTP per the RFCs
> (onetimepass), but, well, it's python.

Well, it is not hard to implement TOTP/HOTP. But I guess the issue is not so 
much TOTP, but only the base32 encoder/decoder.

Thus, what about simply replacing the Google base32 encoder with a "correct" 
one? As the ACVP server seems to use Java for that, [1] refers to a Java lib.

[1] https://stackoverflow.com/questions/21515479/encode-string-to-base32-string-in-java


Ciao
Stephan




Update: Please discard my test statement from yesterday. I completely checked my base32 implementation. Further I carefully checked to upper-case the seed file obtained from NIST.

After that, I am able to log in with the provided seed file.

Thus, the easy fix for short and long term for NIST is to simply upper-case the encoded information shipped to users. Then we should be compliant to the standard.

@smuellerDD  Did you have to pad the seed to make it 80 bits like the wiki page indicates ? And what is the length of your decoded seed ?

Am Montag, 2. April 2018, 20:47:44 CEST schrieb Barry Fussell:

Hi Barry,

> @smuellerDD  Did you have to pad the seed to make it 80 bits like the wiki
> page indicates ? And what is the length of your decoded seed ?

I did not pad the seed. The resulting binary is exactly 20 bytes.

Ciao
Stephan




I now have a proper TOTP implementation that can be parameterized appropriately. 
With that said, I am thinking of the following:

T0 (time offset): 0
timeStep (in seconds): 30
algorithm: HMAC-SHA-256
digits: 8

I debated going to 9 digits as that is the maximum supported but I wasn't sure every library would have support. I would still like to go to 9 if everyone is fine with that.

Any thoughts?

I also investigated using alphanumeric but it is only mentioned in the RFC as a possible extension without enough detail to allow inter operable implementation.

If no objections I will update the draft spec and add in any additional missing detail as well.

We will have some additional server-side variables (i.e. drift window) but those should have no impact on the client implementation.

I should also mention that we will still need some mechanism to provide the seed to you in a string form that you can convert into a sequence of bits/bytes. I would assume base64 encoding would be preferred to base32 but I have no preference.

Am Freitag, 6. April 2018, 00:33:53 CEST schrieb Harold Booth:

Hi Harold,

> I now have a proper TOTP implementation that can be parameterized
> appropriately. With that said, I am thinking of the following:
> 
> T0 (time offset): 0
> timeStep (in seconds): 30

What about 10 seconds or 15 seconds? Consider my question regarding the number 
of test sessions one can upload test results in parallel. For example, I would 
use the test sessions to group ciphers that belong together to manage modules 
better. Yet, it is likely that for one module, multiple test sessions are 
valid. I would like to upload all these processed sessions more or less at the 
same time. With that, one session per timeStep can only be processed. Thus, I 
would like to shrink the wait time.

> algorithm: HMAC-SHA-256

I have no issues to go to higher hash digests. However, RFC4226 is not clear 
how handle larger digests. The truncate function defined in section 5.3 is 
defined on the 20 byte SHA-1 output.

Now, if you use, say, SHA-256, are you changing the truncate function, such as 
taking the offset from byte 31 instead of 19? Or are you disregarding all 
bytes higher than 20?

As such questions are not clearly articulated clearly in the RFC, I would not 
go to a higher hash size (or specify it very clearly in your specification).

> digits: 8

This sounds good.
> 
> I debated going to 9 digits as that is the maximum supported but I wasn't
> sure every library would have support. I would still like to go to 9 if
> everyone is fine with that.
> 
> Any thoughts?
> 
> I also investigated using alphanumeric but it is only mentioned in the RFC
> as a possible extension without enough detail to allow inter operable
> implementation.
> 
> If no objections I will update the draft spec and add in any additional
> missing detail as well.
> 
> We will have some additional server-side variables (i.e. drift window) but
> those should have no impact on the client implementation.



Ciao
Stephan




> What about 10 seconds or 15 seconds?

The RFC recommends 30 seconds and I would tend to agree with that value as any smaller we may start to encounter clock skew and network delay issues that I would prefer to avoid. I would hope that the number of test sessions would not be large. We could also consider adding a bulk token refresh which I would be far more favorable toward and would hopefully address your concerns. This would be an extension/enhancement to the existing login process.

> Now, if you use, say, SHA-256, are you changing the truncate function, such
> as taking the offset from byte 31 instead of 19? Or are you disregarding all
> bytes higher than 20?

I had the same questions regarding the truncation function during my implementation. Fortunately, the reference implementation in Appendix A and the test vectors in Appendix B help with the answers.

Effectively the answer becomes to take the low-order 4 bits from the last byte of HS.
So modifying the two relevant lines from Section 5.3 of RFC 4226:

```
DT(String) // String = String[0]...String[n]
Let OffsetBits be the low-order 4 bits of String[n]
where n = 19 for HMAC-SHA-1, n=31 for HMAC-SHA-256 and n=63 for HMAC-SHA=512.
```

If you follow the above you will get an implementation similar to what is found at the top of Page 13 of RFC 6238 and you can generate the same test results as found in Appendix B.

One final item, is that we would like to push out an update to reflect these updated values on Monday if that will not have a huge impact.

Am Freitag, 6. April 2018, 22:51:35 CEST schrieb Harold Booth:

Hi Harold,

> > What about 10 seconds or 15 seconds?
> 
> The RFC recommends 30 seconds and I would tend to agree with that value as
> any smaller we may start to encounter clock skew and network delay issues
> that I would prefer to avoid. I would hope that the number of test sessions
> would not be large. We could also consider adding a bulk token refresh
> which I would be far more favorable toward and would hopefully address your
> concerns. This would be an extension/enhancement to the existing login
> process.

Great, no objections.


> > Now, if you use, say, SHA-256, are you changing the truncate function,
> > such
> > as taking the offset from byte 31 instead of 19? Or are you disregarding
> > all bytes higher than 20?
> 
> I had the same questions regarding the truncation function during my
> implementation. Fortunately, the reference implementation in Appendix A and
> the test vectors in Appendix B help with the answers.
> 
> Effectively the answer becomes to take the low-order 4 bits from the last
> byte of HS. So modifying the two relevant lines from Section 5.3 of RFC
> 4226:
> 
> ```
> DT(String) // String = String[0]...String[n]
> Let OffsetBits be the low-order 4 bits of String[n]
> where n = 19 for HMAC-SHA-1, n=31 for HMAC-SHA-256 and n=63 for
> HMAC-SHA=512. ```
> 
> If you follow the above you will get an implementation similar to what is
> found at the top of Page 13 of RFC 6238 and you can generate the same test
> results as found in Appendix B.

You are right. My implementation now also matches the test vetors.
> 
> One final item, is that we would like to push out an update to reflect these
> updated values on Monday if that will not have a huge impact.

Which baseXX encoding are you going to use? I would use base64 as this is more 
common.

Are we getting new seed values?


Ciao
Stephan




Stephan,

The spec is updated and posted on Google drive - see the ReadMe again. Thanks for your feedback on the previous draft. Base64 encoding is specified there. When @hbooth  updates the server sometime today, he will inform you. He will tell about the seed too but in my view there is no need to update the seed at this stage.  

Am Montag, 9. April 2018, 14:47:28 CEST schrieb Apostol Vassilev:

Hi Apostol,

> Stephan,
> 
> The spec is updated and posted on Google drive - see the ReadMe again.
> Thanks for your feedback on the previous draft. Base64 encoding is
> specified there. When @hbooth  updates the server sometime today, he will
> inform you. He will tell about the seed too but in my view there is no need
> to update the seed at this stage.

Thank you very much. I will stage it all on my side.

Though, I guess the seed would need to be updated as the seed can (or should?) 
be 32 bytes instead of 20 bytes (I know, 20 bytes should also work with HMAC 
SHA-256). Besides, the encoding needs to change from the google-fudged base32 
to a plain base64 (of course, the conversion can be done on our side).

Ciao
Stephan




Am Montag, 9. April 2018, 14:47:28 CEST schrieb Apostol Vassilev:

Hi Apostol,

> Stephan,
> 
> The spec is updated and posted on Google drive - see the ReadMe again.
> Thanks for your feedback on the previous draft. Base64 encoding is
> specified there. When @hbooth  updates the server sometime today, he will
> inform you. He will tell about the seed too but in my view there is no need
> to update the seed at this stage.

Would you please be so kind and provide the upated URL to the Google document? 
I currently only have the link to the version 0.9.

Thanks.

Ciao
Stephan




Stephan, this happens if your browser uses cached references. If you refresh your client, it should point to the new spec. 

> Though, I guess the seed would need to be updated as the seed can (or should?)
be 32 bytes instead of 20 bytes (I know, 20 bytes should also work with HMAC
SHA-256). Besides, the encoding needs to change from the google-fudged base32
to a plain base64 (of course, the conversion can be done on our side).

I would agree it should be updated, but given this is currently just in development and, as you note, it is a simple change to base64 I would prefer to just treat the seed we sent you as a base64 encoded sequence of bytes. Once we get this stabilized and everyone is working we can talk about reseeding. We will need to re-seed on a periodic basis anyway and even if we don't reseed everyone right now it will eventually happen during the course of operation.

Am Montag, 9. April 2018, 15:27:56 CEST schrieb Harold Booth:

Hi Harold,

> > Though, I guess the seed would need to be updated as the seed can (or
> > should?)
> be 32 bytes instead of 20 bytes (I know, 20 bytes should also work with HMAC
> SHA-256). Besides, the encoding needs to change from the google-fudged
> base32 to a plain base64 (of course, the conversion can be done on our
> side).
> 
> I would agree it should be updated, but given this is currently just in
> development and, as you note, it is a simple change to base64 I would
> prefer to just treat the seed we sent you as a base64 encoded sequence of
> bytes.

That works too. To be clear: we take the provided seed data and run it through 
the base64 decoder which will give us a 24 byte value?! This value is used as 
a seed for the TOTP?

> Once we get this stabilized and everyone is working we can talk
> about reseeding. We will need to re-seed on a periodic basis anyway and
> even if we don't reseed everyone right now it will eventually happen during
> the course of operation.


Thanks
Stephan




 >> I would prefer to just treat the seed we sent you as a base64 encoded sequence of bytes.

> That works too. To be clear: we take the provided seed data and run it through
the base64 decoder which will give us a 24 byte value?! This value is used as
a seed for the TOTP?

Yes. I think that's the easiest approach for the moment.


Am Montag, 9. April 2018, 15:37:07 CEST schrieb Harold Booth:

Hi Harold,

> Yes. I think that's the easiest approach for the moment.

Thanks. All is set on my side then.

Ciao
Stephan




Is the new authentication system enabled yet?

Yes, it is now.

Am Dienstag, 10. April 2018, 22:50:48 CEST schrieb Harold Booth:

Hi Harold,

> Yes, it is now.

Confirmed, working.

Ciao
Stephan




I am closing this issue now that the spec has been updated and there are several working independent client implementations. 