KAS Val errors onePassDh

vsId 7106

Not sure whether this fits in here, but I still see the discussed errors for dhEphem (vsID 8360).

Just to clarify the issue here, there are test cases which seem "impossible" for your IUT to pass? On our end this is caused by the server providing test cases meant for other TestGroups or registration parameters. We just need to clarify when each test case is expected.

Am Donnerstag, 21. Juni 2018, 20:32:05 CEST schrieb Chris Celi:

Hi Chris,

> Just to clarify the issue here, there are test cases which seem "impossible"
> for your IUT to pass? On our end this is caused by the server providing
> test cases meant for other TestGroups or registration parameters. We just
> need to clarify when each test case is expected.

The issue is always on the validation test vector side where my IUT has to 
generate a hashed shared secret and compare it with the provided shared 
secret.

In some cases, my IUT generates the exact same hashed shared secret from the 
input data as provided by the ACVP server. Thus, I flag the validation as 
passed.

The ACVP server, however, says that for those tests, the IUT ought to generate 
a different hashed shared secret and thus should fail the the validation. I.e. 
the ACVP server expects a fail, but the IUT generates a pass.


If it would be completely reversed (the IUT indicates a non-matching hashed 
shared secret where the ACVP server thinks it should be identical), then I 
would think that my IUT has a problem.

Yet, it is highly unlikely that my IUT generates the very same hashed shared 
secret as the ACVP server when the input data would not be the same as used by 
the ACVP server. That is the very reason I opened the issue.

Thus, I could fathom that the ACVP server wanted to send altered input data to 
me and failed to alter the data or sent the correct data instead (i.e. it sent 
the real, correct input data).


Ciao
Stephan




It isn't always the hash that causes the problem. Sometimes the IUT is intended to recognize errors introduced earlier in the process such as an improper key pair. Regardless, once we figure out what error the server is trying to introduce, we can determine if that error is appropriate for the given registration.

Am Donnerstag, 21. Juni 2018, 21:16:04 CEST schrieb Chris Celi:

Hi Chris,

> It isn't always the hash that causes the problem. Sometimes the IUT is
> intended to recognize errors introduced earlier in the process such as an
> improper key pair. Regardless, once we figure out what error the server is
> trying to introduce, we can determine if that error is appropriate for the
> given registration.

The issue is that *different* IUTs do not seem to detect the modifications! 
I.e. the Linux kernel crypto API and OpenSSL 1.1.0 is what I tested. I have no 
issue when the IUT is at fault. But when two independent, widely used IUTs 
react very similarly, I need to scratch my head whether they are at fault :-)

Ciao
Stephan




For all the failed test cases, the server claims that the IUT should detect the modified static private IUT key, or the modified static public IUT key. I'll dig deeper to ensure the modifications are being applied by the server to cause the test case to fail.

Ok but how can a modified key generate the *same* shared secret as the server? Or does the ACVP server generate its shared secret with the corrupted key data? Why do I only see such errors during VAL vectors?


> Am 22.06.2018 um 19:22 schrieb Chris Celi <notifications@github.com>:
> 
> For all the failed test cases, the server claims that the IUT should detect the modified static private IUT key, or the modified static public IUT key. I'll dig deeper to ensure the modifications are being applied by the server to cause the test case to fail.
> 
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub, or mute the thread.


The ACVP server does generate the shared secret with the modified key. The IUT is responsible for making sure the key is a valid key in general. I understand if multiple IUTs say it's an issue then it is an issue, but I want to be super clear on what we are talking about here. The "crypto" isn't what is under question. 

The server starts with a good key, then intentionally modifies it _then_ proceeds to generate the shared secret. If an IUT were to blindly accept the inputs from the server, then naturally it would generate the same shared secret. So these test cases are being marked as wrong because the server claims that the IUT shouldn't even try to generate the shared secret by rejecting the inputs. Do these IUTs have the mechanisms to reject bad inputs? Or is that where the issue is and these test cases shouldn't be included for this registration? (Or should the registration be modified to avoid these test cases?)

According to 5.6.2.1 in [SP800-56A](https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-56Ar3.pdf), the IUT is responsible for checking the validity of the static and ephemeral key pairs they possess. I'm not familiar with how CAVS set up these tests, but this looks to me like these implementations omit that step (of key pair validation) or have that check elsewhere. 

When the assurance "keyPairGen" is used, it means the IUT is taking a generated key pair from some other entity, meaning the IUT *must* check the validity of the key pair before using it in order to be compliant with the specification.

Thanks for pointing out that the shared secret from the ACVP server is indeed generated with the modified key. That sheds another light on the issue:

- OpenSSL 1.1.0: ECDH finally returns the expected values since I needed to set the private key followed by the public key (I did call it the other way round which effectively disabled the check code).

- OpenSSL 1.1.0: DH does not have any key verification function during import -- it is checked with the developer

- Linux kernel crypto API: It does not apply any checks to the imported keys. As this was successfully passing old CAVS tests, may I ask when the enforcement test for section 5.6.2.1 / 5.6.2.3 properties were added?

Thanks

After adding the public key check to the Linux kernel ECDH implementation, the ACVP server likes all responses from the IUT.

So, I consider that issue closed as the ACVP server works as defined. Yet, I would like to know when that additional check for the appropriateness of the public key was added considering that the DH/ECDH implementation of the Linux kernel has not been changed for a year or two and I tested ECDH / DH since its addition to the kernel (ok, granted, with CAVS vectors from the 20.2 CAVS tool).

Thanks a lot!

I think it was present in a much earlier version of CAVS but was removed at some point as the tests added by those assurances were deemed "out of the scope of algorithm testing". 

Ok, thanks.

I would like to reopen this issue to discuss the following concern: The addition of the FFC DH testing according to SP800-56A section 5.6.1.2.1 seems to be not aligned with reality, at least for network protocols.

For example, in TLS when using DH/DHE, the TLS server sends the domain parameters during the server key exchange message to the client. The client uses the parameters to calculate its DH public / private key and eventually the shared secret. However, as defined in the TLS protocol RFC 5246 section 7.4.3, the server *only* sends P and G.

Though, for performing the full validation of the FFC DH key, we need the Q value as well.

That means, a TLS implementation may be fully compliant to the RFC when only implementing P/G handling (and having no ability to implement SP800-56A 5.6.1.2.1 testing). Such implementation now would not be CAVS-testable any more and thus non-approved.

Even if a DH implementation used with TLS implements the SP800-56A test, it will be disabled when using it with TLS. I.e. testing with the Q parameter will *never*  be performed in real life even though it would be needed for CAVS testing.

Is this a situation that NIST wants?

Just to be sure we are on the same page, SP 800-56A, r.3 in Section 5.5.1.2 defines domain parameters as

Domain parameters for an ECC scheme have the form (q, FR, a, b{, SEED}, G, n, h). The parameter q is the field size. As noted above, q may be an odd prime p (i.e., q = p) , or q may be equal to 2^m. for some prime integer m. 

Are we sure a difference in notation is not getting in the way?

Am Montag, 23. Juli 2018, 18:53:07 CEST schrieb Apostol Vassilev:

Hi Apostol,

> Just to be sure we are on the same page, SP 800-56A, r.3 in Section 5.5.1.2
> defines domain parameters as
> 
> Domain parameters for an ECC scheme have the form (q, FR, a, b{, SEED}, G,
> n, h). The parameter q is the field size. As noted above, q may be an odd
> prime p (i.e., q = p) , or q may be equal to 2^m. for some prime integer m.
> 
> Are we sure a difference in notation is not getting in the way?

I am only refering to the FFC domain parameters of PQG. ECC testing can be 
implemented and is therefore not subject for discussion.

Ciao
Stephan




Stephan,

Ah, I mistook Section 5.6.1.2.1 for 5.6.2.1, sorry.  

When safe primes are used, q=(p-1)/2. So, with this relationship in place, you have the three domain parameters when you specify G and one of the other. I think in most cases TLS uses groups with safe primes, accommodating TLS, IPSec and other protocols was one of the important changes in SP 800-56A, Rev.3. On top of this, AFAIK assurances about key pairs is not something that TLS does. These assurances are optional features in SP 800-56A. I have to check further for the old style of P and Q, when they are not safe primes, but let me know if this addresses your concern to some extent.   

Stephan,

Wouldn't it better to check the group that is being used instead of waiting to see if the client has passed Q? I agree it will never happen according to the TLS spec but this means that you may need to look elsewhere to detect the proper context. Look for example for the MODP groups used for TLS, IPSec, SSH, etc. In these groups q = (p-1)/2. I think in all these protocols, MODP groups are always used for FFC. 

Am Montag, 23. Juli 2018, 20:36:45 CEST schrieb Apostol Vassilev:

Hi Apostol,

> Stephan,
> 
> Wouldn't it better to check the group that is being used instead of waiting
> to see if the client has passed Q? I agree it will never happen according
> to the TLS spec but this means that you may need to look elsewhere to
> detect the proper context. Look for example for the MODP groups used for
> TLS, IPSec, SSH, etc. In these groups q = (p-1)/2. I think in all these
> protocols, MODP groups are always used for FFC.

You are correct that it is very likely that a MODP group is used. But how 
would the client know which MODP group is used? The server surely knows that. 
But the server only sends the P and G data to the client from the MODP group. 
This means that the client would still not be able to verify the server's key.

The issue is that for FFC DH, TLS mandates the transport of the parameters 
(unlike for ECC where an identifier to the used curve is transported and both 
ends must know the curve parameters).

Ciao
Stephan




Well, if the group is MODP you only need to send P and G anyway. In fact, I am reasonably confident that these protocols do not use any other groups because they would have had a validation path in the past, prior to the latest update of SP 800-56A, but they did not. 

One has to check how to link the specific MODP group ID to the ciphersuite that is negotiated between the client and the server but this ought to be possible. I believe the client can detect the MODP ID used for the negotiated ciphersuite based on the context communicated by the server. 

Check Section F.1.1.3 in RFC 5246. It contains the following paragraph: The server MAY choose
   to assist the client by providing a known group, such as those defined in [IKEALG] or [MODP].  These can be verified by simple comparison.

Am Montag, 23. Juli 2018, 21:04:47 CEST schrieb Apostol Vassilev:

Hi Apostol,

> Well, if the group is MODP you only need to send P and G anyway. In fact, I
> am reasonably confident that these protocols do not use any other groups
> because they would have had a validation path in the past, prior to the
> latest update of SP 800-56A, but they did not.

For example, for my OpenVPN, I generated my own DH parameter set. It uses 
OpenSSL as its service provider and use TLS as transport layer.

But a number of TLS user allows the specification of DH parameters:

For example:

- Postfix:

       smtpd_tls_dh1024_param_file (empty)
              File  with DH parameters that the Postfix SMTP server should use
              with non-export EDH ciphers.

       smtpd_tls_dh512_param_file (empty)
              File with DH parameters that the Postfix SMTP server should  use
              with export-grade EDH ciphers.

- lighttpd: see ssl.dh-file config option

- Apache: Custom DH parameters and an EC curve name for ephemeral keys, can be 
added to end of the first file configured using SSLCertificateFile. This is 
supported in version 2.2.30 or later. Such parameters can be generated using 
the commands openssl dhparam and openssl ecparam. The parameters can be added 
as-is to the end of the first certificate file. Only the first file can be 
used for custom parameters, as they are applied independently of the 
authentication algorithm type. 

..


> 
> One has to check how to link the specific MODP group ID to the ciphersuite
> that is negotiated between the client and the server but this ought to be
> possible. I believe the client can detect the MODP ID used for the
> negotiated ciphersuite based on the context communicated by the server.

Sure, the client can do a memcmp of P and G and see whether the server-
delivered parameters match a MODP group to derive the Q parameter.

Are you saying that this is the approach NIST wants vendors to use?

What happens if a user does not use the MODP groups? Considering the fact that 
PQGgen is an approved cipher mechanism, FFC DH should be allowed with a PQG 
parameter set that is not equal to a MODP group. Or not?

Ciao
Stephan




Stephan,

Check section 5.5.1.1 in SP 800-56A: 

"When the targeted security strength for key establishment is greater than 112 bits, an approved safe-prime group capable of supporting that security strength shall be used. When the targeted security strength is 112 bits, an approved safe-prime group should be used. The use of FIPS 186-type domain parameters should only be used when the targeted security strength is 112 bits for backward compatibility with existing applications that cannot be upgraded to use the approved safe-prime groups."

This clearly communicates the intent of this standard to nudge people towards safe-prime groups. That said, checking which group is used is subject to other IETF standards, such as the aforementioned Section F.1.1.3 in RFC 5246. We defer to these standards for specific implementation guidance on this.  

Am Montag, 23. Juli 2018, 21:31:15 CEST schrieb Apostol Vassilev:

Hi Apostol,

> Stephan,
> 
> Check section 5.5.1.1 in SP 800-56A:

Thanks for the pointer and the clarification. We will discuss that with the 
vendors to get that properly included.

Ciao
Stephan




closing issue again