TLS 1.3 KDF helloClientRandom ambiguity

Section at issue:
https://pages.nist.gov/ACVP/draft-hammett-acvp-kdf-tls-v1.3.html#name-test-cases

Issue:
Using the term "helloClientRandom" with a description of "Client hello random value" is ambiguous because the draft means that the "helloClientRandom" is a complete Client Hello message that was randomly generated (that can't be parsed and doesn't look at all like a Client Hello message) while a reader could easily infer that it is the 32-byte "random" field of a Client Hello message as defined by RFC 8446 section 4.1.2 https://datatracker.ietf.org/doc/html/rfc8446#section-4.1.2 and be confused.

Suggestion:
Make it clear that it is a randomly generated Client Hello Message. Describe it as "Randomly generated Client hello message".



Hi @blackbird1999, apologies for the confusion. When I initially responded to you via email, I was incorrect. After taking a closer look, "helloClientRandom" corresponds with the ClientHello of https://datatracker.ietf.org/doc/html/rfc8446#section-7.1 and the 32-byte "random" field of a Client Hello message as defined by https://datatracker.ietf.org/doc/html/rfc8446#section-4.1.2. Let me push out an update to the TLS 1.3 KDF spec to make it is clear on this point.

Hmm, if that's the case, I think there is then insufficient information to recreate a ClientHello from the input data which is what needs to be hashed to provide the input to DeriveSecret (which is the full ClientHello message). I think it would need the list of ciphersuites the client supports as well as clear information on what the legacy_session_id and extensions fields should contain.  