X9.42 counter variable

X9.42 specifies a counter variable that is incremented for every block that is hashed. However, the expected response shows no evidence of a counter being used at all. The first hashed block of output is repeated over and over. It looks like a stuck counter. Shouldn't correct operation of the counter be tested?

https://csrc.nist.gov/CSRC/media/Events/Key-Management-Workshop-2000/documents/x942.pdf

Mention of the counter begins on page 20.


Do you have a vector set ID where this is happening?

"vsId": 366835

I know the x9.42 standard can be hard to acquire, but the "DER" based KDF does not utilize a counter. Only the concatenation based KDF does. 

RFC 2631 section 2.1.2 says that OtherInfo contains a counter and that OtherInfo is DER encoded.

That is correct. The OtherInfo should be incremented between iterations. We'll update the algorithm shortly. 

Hey, a DER encoder is not something we have access to, so we need to put together our own. Would you be able to send me an email, or reply here with a couple of DER encoded `OtherInfo` fields? 

I'll see what I can put together.

Here are two examples of DER encoded "OtherInfo" fields.
OtherInfo contains Wrapping Algorithm (13 bytes), Counter (4 bytes),
UKM (64 bytes) and Length of Derived Key Material (4 bytes).
The 4 byte counter starts at offset 20.  

30 61 30 13 06 0b 2a 86
48 86 f7 0d 01 09 10 03
06 04 04 00 00 00 01 a0
42 04 40 ff e9 be b1 2d
30 aa a6 a6 2d 7f 6e eb
1c f3 bb 43 d4 44 53 4d
61 b4 4f f5 d6 67 5b f5
11 dd b5 d8 4a 55 24 64
fa 40 f8 3e cd 07 29 9c
18 04 b9 37 6d 4a c0 90
12 aa 0b 7a 51 a4 ea 96
ab ae f6 a2 06 04 04 00
00 00 c0

30 61 30 13 06 0b 2a 86
48 86 f7 0d 01 09 10 03
06 04 04 00 00 00 01 a0
42 04 40 96 cd ff 43 54
74 dd 0b b1 d6 64 61 5e
23 b9 76 21 25 ac f0 98
52 f8 8d 21 8b 19 84 a6
6f 41 df d4 81 5a b6 f4
9b 9e c4 f6 6b ab 6f a4
fb 5f c0 41 bb 0b b5 02
1c a5 d2 69 35 f6 73 31
9c cb 4d a2 06 04 04 00
00 00 c0

Ok, I used my parser to break the first example down into some sections, I'd like to confirm some of the fields.

```
30 61       // Sequence identifier, with 97 bytes to follow
  30 13     // Sequence identifier, with 19 bytes to follow
    06 0b 2a 86 48 86 f7 0d 01 09 10 03 06  // OID for TDES
    04 04     // Octet, 4 bytes, Counter
      00 00 00 01
  a0 42    // Supplemental keying material, 66 bytes to follow
    04 40 ff e9 be b1 2d 30 aa a6 a6 2d 7f 6e eb 1c f3 bb 43 d4 44 53 4d 61 b4 4f f5 d6 67 5b f5 11 dd b5 d8 4a 55 24 64 fa 40 f8 3e cd 07 29 9c 18 04 b9 37 6d 4a c0 90 12 aa 0b 7a 51 a4 ea 96 ab ae f6 
  a2 06   // Not sure what a2 refers to, with 6 bytes to follow
    04 04    // Octet, 4 bytes, key length requested
      00 00 00 c0   // 192 bits (or a 3-key TDES key)
```

Do you know the significance of `a2` towards the end of the `OtherInfo`?

Decoding bits: 0x80 = DER_C_CONTEXT (DER Class Tag)
0x20 = 

0x80 = DER_C_CONTEXT (Class Tag)
0x20 = DER_F_CONSTRUCTED 
0x02  = DER_P_INTEGER 

This is my best guess. If you drop the 0x02 then you have 0xa0 which seems a reasonable identifier for Supplemental keying material - which is not an integer.

Ok thanks. We implement all of our crypto and verify it against other implementations, but in cases like this, we don't have a DER encoder available. I was unable to find much information on DER encoding outside of certificates, and the standard x9.42 itself doesn't provide any hexadecimal conversions. Hopefully within a few days here (Wednesday is a Federal Holiday) I'll be able to generate a vector set I'd like to send you to run. Are you able to post the registration you can handle? 

I think we can handle the registration but I'm making sure someone here can do it.

Will you specify Wrapping Algorithm, UKM, and Length of Derived Key Material separately, or a single handcrafted DER encoded vector?


Hmm, we may need to update some of the parameters, so that the server and client can obtain the same complete `OtherInfo`. Namely right now, there is no way to specify the `AlgorithmIdentifier` the server and client are using. The current `otherInfo` field in the JSON can become the supplemental information. The rest is all already part of the normal JSON here. 

Do you have the other valid OIDs? All references I have seen only utilize TDES, but a MAC and HMAC are considered valid. 

I got these from OpenSSL:

3DES: 0x2A, 0x86, 0x48, 0x86, 0xF7, 0x0D, 0x01, 0x09, 0x10, 0x03, 0x06
AES-128: 0x60, 0x86, 0x48, 0x01, 0x65, 0x03, 0x04, 0x01, 0x05
AES-192: 0x60, 0x86, 0x48, 0x01, 0x65, 0x03, 0x04, 0x01, 0x19
AES-256: 0x60, 0x86, 0x48, 0x01, 0x65, 0x03, 0x04, 0x01, 0x2D

This means the offset of the Counter will depend on the length of AlgorithmIdentifier which is 2 bytes longer for 3DES.

RFC 2631 & RFC 3565 specify some test vectors for X942 KDF ANS1

The OID's given above are related to key wrapping
```
Title = X9.42 KDF tests (from RFC2631 test vectors)

KDF = X942KDF
Ctrl.digest = digest:SHA1
Ctrl.hexsecret = hexsecret:000102030405060708090a0b0c0d0e0f10111213
Ctrl.cekalg = cekalg:id-smime-alg-CMS3DESwrap
Output = a09661392376f7044d9052a397883246b67f5f1ef63eb5fb

Title = X9.42 KDF tests (RFC3565 2.3.2 Examples)

KDF = X942KDF
Ctrl.digest = digest:SHA1
Ctrl.hexsecret = hexsecret:000102030405060708090a0b0c0d0e0f10111213
Ctrl.cekalg = cekalg:id-aes128-wrap
Output = d6d6b094c1027a7de6e3117294a35364

KDF = X942KDF
Ctrl.digest = digest:SHA1
Ctrl.hexsecret = hexsecret:000102030405060708090a0b0c0d0e0f10111213
Ctrl.cekalg = cekalg:id-aes256-wrap
Ctrl.hexukm = hexukm:0123456789abcdeffedcba98765432010123456789abcdeffedcba98765432010123456789abcdeffedcba98765432010123456789abcdeffedcba9876543201
Output = 8890585C4E281A5C1167CAA530BED59B3230D893CBA8F922BD1B56A0
```

The KDF algorithms are discussed here:
https://csrc.nist.gov/CSRC/media/Events/Key-Management-Workshop-2000/documents/x942.pdf

See 'Key Derivation from Shared Secret Number' (Page 20)

> 0x80 = DER_C_CONTEXT (Class Tag)
> 0x20 = DER_F_CONSTRUCTED
> 0x02 = DER_P_INTEGER
> 
> This is my best guess. If you drop the 0x02 then you have 0xa0 which seems a reasonable identifier for Supplemental keying material - which is not an integer.

This is the ANS1 format
```
 OtherInfo ::= SEQUENCE {
       keyInfo KeySpecificInfo,
       partyAInfo [0] OCTET STRING OPTIONAL,
       suppPubInfo [2] OCTET STRING
   }
```
The 2 refers to the [2]

[kdf-ans-x942-test.zip](https://github.com/usnistgov/ACVP/files/5533404/kdf-ans-x942-test.zip)

Would you mind testing this prompt? DER now includes the OID in the group properties. The `otherInfo` is the `partyAInfo` for DER as well. 

I couldn't get this to work. In the simple case, when otherInfo is null, then the DER encoded material consists of OID, counter, and length of wrapping key in bits. Do I have that right? Then concatenate with zz and hash to generate the first bytes of output.

Ok, perhaps that was a bit hopeful. Let's break this down into an individual case. 

```
OID = TDES (060b2a864886f70d0109100306)
zz = 0123456789ABCDEF
supplementalInfo = <empty>
keyLen = 256
hash = SHA2-256

derivedKey = 3FADC3C154E56539A902F164D3F4A78CB4148C1302A8889C6A6843F3A80BE02A
```

The `otherInfo` that ends up in the hash (only one iteration) is `301D3013060B2A864886F70D0109100306040400000001A206040400000100`

Key length at the end of otherInfo is the length of the wrapping key, not the length of the output. It should be c0 for TDES.

The `suppPubInfo` is an optional element of the `OtherInfo` in ANS x9.42. This is consistent with the linked slides from an old NIST presentation on the KDF. Let's test without that field included. With the `a0-a4` fields being optional in the `otherInfo`, the final change to the algorithm may use random data there based on the registration.

```
OID = TDES (060b2a864886f70d0109100306)
zz = 0123456789ABCDEF
supplementalInfo = <empty>
keyLen = 256
hash = SHA2-256

derivedKey = 69C28E8E2E078BE30D58FCD1AFABC8CE950321FBDAEB4C0AA5A7D14176B2F206
```

The `otherInfo` that ends up in the hash is `30153013060B2A864886F70D0109100306040400000001`


That works.

Thanks. I'll update some of the gen/vals here to generate a new prompt for you to test. There may be some new properties added as the `otherInfo` will likely be broken out into the multiple `a0-a4` fields. 

Here is another set of tests. This is a rather full registration. [ans-x9.42-test.zip](https://github.com/usnistgov/ACVP/files/5576098/ans-x9.42-test.zip)

The DER groups are structured like this...
```
{
      "tgId": 1,
      "testType": "AFT",
      "hashAlg": "SHA-1",
      "kdfType": "DER",
      "oid": "060B2A864886F70D0109100306",
      "tests": [
        {
          "tcId": 1,
          "zz": "17A29984964A768CBFCFDBF88D83063D2B82CA837CD6587A0EC454195998B333D9841203A8D0743C5C9834D036EF901DAF813BECF44B2D29A541540A86D324F3A011E81DA1B5BE676FBFCFAAFFFEBC63CFDBED7E8B5345C1A1B4B96737E3FB2B4234CFF2525FF89CFFC73F390CCFDD5FA88CED81FF67276F033B7C9A52BE2EAE",
          "partyUInfo": "",
          "partyVInfo": "",
          "suppPubInfo": "",
          "suppPrivInfo": ""
        },
        {
          "tcId": 2,
          "zz": "782A64268C960FB4236D5075AA3BC7A04C9BA325C9755D05DCEB5FBB8A6BFBE0D8E68C6F56DD2959A877E66479F24E1B849C6BAA70B2C60599BA03B5EFB72C09D1C967F9564B3CB74513D7907AF7BFE0A14E73B675CCAA40E0E3BB93946E6D7F07615B39D2F06AF853E0761AF2A6E8554E98245D37346B2D023AE9C1439098BC",
          "partyUInfo": "A0B65EC9ACD5488E90633C51A8B6908DB683AE7106741563BCC812FFAF8FD9E0",
          "partyVInfo": "04F21C3CB720FE76A32681AD95FFDF8C06B266DB60477FFE8E4DEC134BE9FD33",
          "suppPubInfo": "E25196CB15D545D6B2F2205FE920CE9627B503F4D2AA2843A1A237C473D2D35E",
          "suppPrivInfo": "ADD68D627F9C1FE03EA409FB6D20F94972AF54D785525D3D54423E940701438C"
        }
      ]
}
```

`"partyUInfo"` is identified with `a0` in the `OtherInfo`, `"partyVInfo"` as `a1`, `"suppPubInfo"` as `a2`, and `"suppPrivInfo"` as `a3`.  


Can you provide an example of what OtherInfo looks like before the hash when a0-a3 are non-null? I could not get that to work. The trivial case, a0-a3 being null, works fine.

Each are formed by the following...

`a0 || length || partyUInfo`
`a1 || length || partyVInfo`
`a2 || length || suppPubInfo`
`a3 || length || suppPrivInfo`

So a full OtherInfo could look like this...

```
30 61
  30 13
    06 0b 2a 86 48 86 f7 0d 01 09 10 03 06
    04 04
      00 00 00 01
  a0 42
    04 40 ff e9 be b1 2d 30 aa a6 a6 2d 7f 6e eb 1c f3 bb 43 d4 44 53 4d 61 b4 4f f5 d6 67 5b f5 11 dd b5 d8 4a 55 24 64 fa 40 f8 3e cd 07 29 9c 18 04 b9 37 6d 4a c0 90 12 aa 0b 7a 51 a4 ea 96 ab ae f6
  a1 01
    FF
  a2 04
    01 02 03 04 
  a3 06   
    04 04
      00 00 00 c0
```

The following is a test from ans-x9.42-test.zip:

"tcId": 103,
"zz": "BA",
"partyUInfo": "2E6411B72B9D2AB903F28B669D50248023AB16E60A40A1F51D806F6AC9EC1ECA",
"partyVInfo": "E36654D13F10E82C3F53F55AC473BC1BA1EAF42607074B535B87969FC1A0CF81",
"suppPubInfo": "FF8A4886B695607C8CD39F9EFA10FC40C5DDEA831B49F59DEA83E9751688123C",
"suppPrivInfo": "5464CC53149AFC3F9D456C44D5FE4A0B41BB38AB64278839312BD36B13CA23E4"

Encoded  OtherInfo looks like this:

30 81A5
  30 13
    06 0B 2A864886F70D0109100306
    04 04 00000001
  A0 22
    04 20 2E6411B72B9D2AB903F28B669D50248023AB16E60A40A1F51D806F6AC9EC1ECA
  A1 22
    04 20 E36654D13F10E82C3F53F55AC473BC1BA1EAF42607074B535B87969FC1A0CF81
  A2 22
    04 20 FF8A4886B695607C8CD39F9EFA10FC40C5DDEA831B49F59DEA83E9751688123C
  A3 22
    04 20 5464CC53149AFC3F9D456C44D5FE4A0B41BB38AB64278839312BD36B13CA23E4

When I prepend zz I get:
BA3081a53013060b2a864886f70d0109100306040400000001a02204205464cc53149afc3f9d456c44d5fe4a0b41bb38ab64278839312bd36b13ca23e4a1220420ff8a4886b695607c8cd39f9efa10fc40c5ddea831b49f59dea83e9751688123ca2220420e36654d13f10e82c3f53f55ac473bc1ba1eaf42607074b535b87969fc1a0cf81a32204202e6411b72b9d2ab903f28b669d50248023ab16e60a40a1f51d806f6ac9ec1eca

The SHA-256 hash is b985a9e187dd70f2a15684b1d8ff3ecfb0f795ef17ce305d08ad6dbb81307769.
The expected hash is cae6d07037252dfcd127f8edde73afc602fe2521da08e15473032219a09758d6 .
I must be missing something.




Chris,

Can you show your DER encoding of the above test?

Mark

Sorry. This got marked as read without me actually reading it. The info values being provided are not wrapped in as an octet. They should be used straight up. So the `partyUInfo` should be `A0 20 <20 byte value from ACVTS>`. 

That helps. However you will need to encode the length of OtherInfo with two bytes instead of one since length is greater than 128. The first bytes of OtherInfo should be "0x30 0x81 0x9D" instead of "0x30 0x9D". I can match your results only when I use the incorrect encoding of length.

Thanks. I'll fix that too. If you got the correct result with that, I'll wrap up these changes into the next demo release. Hopefully that will be late this week. 

Are these changes on the demo server?

Should be going out this week.

On Tue, Jan 12, 2021, 6:54 PM mpacumen <notifications@github.com> wrote:

> Are these changes on the demo server?
>
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub
> <https://github.com/usnistgov/ACVP/issues/1056#issuecomment-759111461>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AATQXEJ4PTKMTD3ZB3YPYNDSZTOLLANCNFSM4TKQREFA>
> .
>


This change is on demo in [v1.1.0.15](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.15)

Thanks. I'll give them a try.

Still doesn't work. Changing the encoding of OtherInfo length should have been the only change in v1.1.0.15. Did something else sneak in?

Any further guidance on this issue? Here's an example of OtherInfo that I am using:

30819D
3013060b2a864886f70d0109100306040400000001
a020299D468D60BC6A257E0B6523D691A3FC1602453B35F308C762FBBAC6069A88BC
a12080D49BFE5BE01C7D56489AB017663C22B8CBB34C3174D1D71F00CB7505AC759A
a2203C21A5EA5988562C007986E0503D039E7231D9F152FE72A231A1FD98C59BCA6A
a320FD47477542989B51E4A0845DFABD6EEAA465F69B3D75349B2520051782C7F3FC

Do you have a particular VSID or specific test case in mind?

vsId: 431172, tgId: 3, tcId: 115

```
309D
3013060B2A864886F70D0109100306040400000001
A020299D468D60BC6A257E0B6523D691A3FC1602453B35F308C762FBBAC6069A88BC
A12080D49BFE5BE01C7D56489AB017663C22B8CBB34C3174D1D71F00CB7505AC759A
A2203C21A5EA5988562C007986E0503D039E7231D9F152FE72A231A1FD98C59BCA6A
A320FD47477542989B51E4A0845DFABD6EEAA465F69B3D75349B2520051782C7F3FC
```

I fixed a bug and ended up with the otherInfo listed above. The only difference appears to be the `81` in the first line. The length of the rest of the content is 157 bytes, so the length value in the initial preamble should be `9D`. Where is the `81` coming from in your otherInfo? 

The DER encoding of length has two forms: short or long.
The short form is a single byte from 0 - 127.

For lengths bigger than 127 the long form is needed, so it uses at least 2 bytes.
The 1st byte has the top bit set, and the bottom 7 bits indicate how many more bytes are in the length field itself.
The remaining bytes specify the length itself (which can be more than 1 byte).

Ah, I'll make the fix on the server and try to get it out soon.

A length less than 128 fits in one byte and the leftmost bit is 0.  When length is >= 128 then the leftmost bit is set to 1 and the remaining bits specify the number of bytes of length. 81 means length is >= 128 and next byte contains the length, hence 819D.

The key that was derived for this particular case was `A7758EC5DA5373C736F1E4CF18A4B6349B23ED86227234185B44638C69EBB222`?

I am able to compute the same key. This is good news.

Great. I'll package this into the demo deployment set for today.

On Wed, Feb 3, 2021, 12:26 PM mpacumen <notifications@github.com> wrote:

> I am able to compute the same key. This is good news.
>
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub
> <https://github.com/usnistgov/ACVP/issues/1056#issuecomment-772682644>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AATQXENGGG22VMULDFJO3VDS5GBN3ANCNFSM4TKQREFA>
> .
>


The change @celic referenced in https://github.com/usnistgov/ACVP/issues/1056#issuecomment-772687173 is on demo

The latest vectors from the demo server work fine. I'm happy.

This change is on prod in release [v1.1.0.15](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.15)